# For the moment at least, we keep the doc-building toolchain in the tarball gotten from github

/.editorconfig export-ignore
/.gitattributes export-ignore
/.github/** export-ignore
/.gitignore export-ignore
/.npmignore export-ignore
/build/** export-ignore
#/doc/build/** export-ignore
/gulpfile.js export-ignore
